name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
          id-token: write
          contents: read
          issues: write
          pull-requests: write

        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up JDK 21
          uses: actions/setup-java@v3
          with:
            distribution: 'adopt'
            java-version: '21'

        - name: Build with Maven
          run: mvn clean install

        - name: Test with Maven
          run: mvn test

        - uses: LouisBrunner/checks-action@v2.0.0
          if: always()
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
            name: Test Maven
            conclusion: ${{ job.status }}
            output: |
              {"summary":"${{ steps.test.outputs.summary }}"}
